<footer id="site-footer">
  <hr>
  <div class="grid-x">
    <div class="small-12 cell">
      <p>Except otherwise noted,<br>
        © 2018 Nikola Pavlović, under the terms of
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
        licence.
      </p>
    </div>

    <div class="small-12 cell">
      <p id="footer-social">
      <a href="https://github.com/nzp"><i class="fa fa-github fa-lg"></i></a>&nbsp;
      <a href="https://twitter.com/kosmichki"><i class="fa fa-twitter fa-lg"></i></a>&nbsp;
      </p>
    </div>
  </div>
</footer>